<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="css/account.css">
</head>
<body>
    {{>navbar}}

    <div class="account-container">
        <div class="collapse-container">
            <div class="user-icon">
            <i style ="font-size:5rem" class="fa-regular fa-user"></i>
            </div>
            <div class="user-options">
                <ul>
                    <a href="/wishlist"><li>Wishlist</li></a>
                    <hr>
                    <a href=""><li>Addresses</li></a>
                    <hr>
                    <a href=""><li>Favourites</li></a>
                    <hr>
                    <a href="/cart"><li>Cart</li></a>
                    <hr>
                    <a href=""><li>Order History</li></a>
                    <hr>
                    <a href="/logout"><li>Log Out</li></a>
                </ul>
            </div>
        </div>
        <div class="details-container">
            
        </div>
    </div>
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>